body {
    font-family: 'Roboto', sans-serif;
    height: 5000px;
    /* background-color: turquoise; */
    user-select: none;
}


/* Start header */
header .head {
    padding: 10px 0 10px;
}
/* SVG Logl */
header .svg-container svg{
    transform: scale(.8);
}

.svg-container {
    padding: 0;
    margin-left: -15px;
}

/* Search Box */
header .search-box {
    width: auto;
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 45px;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: rgb(0 0 0 / 13%) 0px 2px 5px, rgba(0, 0, 0, 0.051) 0px 0px 3px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition-property: box-shadow;
    transition-duration: 0.2s;
}

header .search-box:hover {
    box-shadow: rgba(0, 0, 0, 0.13) 0px 7px 15px, rgb(0 0 0 / 5%) 0px 0px 3px;
}

header .search-div{
    width: 100%;
    height: 100%;
}

header .search-form input {
    display: flex;
    flex: 1 0 auto;
    outline: none;
    border: none;
    font-weight: bold;
}

.search-form {
    display: flex;
    flex: 1 0 auto; 
    width: 100%;
    height: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

header .search-icon {
    cursor: pointer;
}

/* Log in & Sign up Button */
header .btn-box {
    text-align: right;
}

header .log-in {
    background-color: transparent;
    color: #333333;
    border: none;
    border-radius: 66px;
    font-size: 22px;
    font-weight: bold;
    margin-right: 2px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;

}

header .log-in:hover {
    background-color: transparent;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 7px 15px, rgb(0 0 0 / 5%) 0px 0px 3px;
    
}

header a  button.log-in.btn-primary:focus {
    background-color: transparent;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 7px 15px, rgb(0 0 0 / 5%) 0px 0px 3px;
}

header a  button.log-in.btn-primary:active {
    box-shadow: none;
    color: #333;
}

header .sign-up {
    background-color: #FE1251;
    border: none;
    border-radius: 66px;
    font-size: 22px;
    font-weight: bold;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;

    
}

header .sign-up:hover {
    background-color: #fff;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 7px 15px, rgb(0 0 0 / 5%) 0px 0px 3px;

}

header .sign-up:focus {
    background-color: #fff;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 7px 15px, rgb(0 0 0 / 5%) 0px 0px 3px;

}

header a  button.sign-up.btn-primary:active {
    box-shadow: none;
    color: #333;
}
/* End header */

/* Start nav bar */
section.body-site {
}

nav {
  position: sticky;
  z-index: 99;
  top: 0;
  height: 100vh;
  border-radius: 0 50px 50px 0;
  background: linear-gradient(180deg, #FE1251 0%, #FF0045 100%);
  font-size: 25px;
  font-weight: 300;
}

/* Edit Nav Width */
nav.col-3 {
    padding: 0px;
    width: 19%;
}

nav.col-3::before {
    content: "";
    width: 105px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: -5px;
    left: 118px;
}

.nav-box {
    padding: 0px 10px 0px 10px;
}

section nav .mini-nav {
    text-align: center;
    padding: 0 5px;
    margin: 0;
}

section nav .mini-nav a{
    padding: 0;
    margin: 0;
}

section nav .mini-nav svg {
    transform: scale(.7);
}

/* horizon line customize */
hr {
    height: 1px;
    margin: 0 0 3px 0;
    background-color: #eee;
    border-radius: 1000px;
    opacity: 1;
}


section div nav a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 7px;
    /* height: calc(100vh / 12); */
    transition: all 0.1s;

}

section div nav a:hover {
    background-color: #FF557A;
    border-radius: 50px;
    color: #fff;
}

section div nav a.active {
    font-size: 25px;
    font-weight: bold;
    background-color: #FF557A;
    border-radius: 50px;
}

svg.big-nav-icon {
    height: 40px;
    width: 40px;
}

/* More Button */
section div nav a.more {
    font-size: 18px;
    font-weight: 300;
    border: 1px solid #fff;
    border-radius: 3px;
    justify-content: center;
    align-content: center;
    margin: 15px auto 0;
    height: 25px;
    padding: 0;
}

section div nav a.more:hover {
    border-radius: 0px;
}

/* Rent Button */
section nav a.rent-btn-box {
    padding: 0;
    width: 95%;
    margin: 27px auto;
}

section nav a button.rent-btn {
    border: none;
    padding: 0;
    height: 50px;
    border-radius: 50px;
    color: var(--bs-body-color);
    background-color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;

}

a button.rent-btn:hover {
    background-color: var(--bs-body-color);
    color: #fff;
}

/* Start Gallery */
section .gallery-section {
    padding: 0;
    width: 81%
}

section div.img-box {
    /* margin: 5px 0px 15px -60px; */
    margin: 0px 0px 10px 0px;
    height: 275px;
    width: 100%;
    border: 5px solid #8a12fc;
    position: relative;
    z-index: -1;
}

section div.img-box::before {
    content: "";
    height: 50px;
    width: 50px;
    background-color: #fff;
    position: absolute;
    left: -50.4px;
    top: -7px;
    z-index: 2;
    border-top-right-radius: 50px;
    border: 5px solid #8a12fc;
    border-width: 5px 5px 0px 0px;
}

section div.img-box::after {
    content: "";
    height: 48px;
    width: 38px;
    background-color: #f2f2f2;
    position: absolute;
    left: -38px;
    top: -5px;
    z-index: 1;
    border-top: 5px solid #8a12fc;
}

section div img.pic {
   /* width: calc(100% + 55px); */
   width: 100%;
   height: 100%;
   object-fit: cover;
   background-repeat: no-repeat;
   background-position: center;
   /* filter: drop-shadow(0px -5px #8a12fc) drop-shadow(5px 0px #8a12fc) drop-shadow(5px 5px #8a12fc) drop-shadow(-5px 0px #8a12fc); */
   /* position: relative; */
   /* z-index: -1; */
}

/* Start main section */
.main-box {
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
}

.shelves {
    background-color: #eee;
    height: 380px;
    border-radius: 10px;
    margin: 0 0 10px 0;
}

section .shelves h3.shelve-title {
    margin: 0;
    padding-top: 2px;
}

section .shelves h3 a {
    text-decoration: none;
    color: var(--bs-body-color);
}

section .shelves h3.shelve-title a:hover {
    color: #000;
}

.item-cards {
    width: 19.5%;
    height: 87%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 3px 10px #00000040;
    margin-bottom: 5px;
    position: relative;
    padding: 0;
    text-decoration: none;
    color: #434544;
    text-align: center;
}

.item-cards:hover {
    color: #000;
}

.item-cards:hover .item-description {
background-color: #c1e7fe;
}
.item-cards:active {
    box-shadow: none;
}

div.item-description h4 {
    width: 100%;
    height: 57%;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    margin: 0;

    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

div.item-description h5 {
    width: 100%;
    height: 43%;
    margin: 0;
    padding: 0 5px 5px;
}


h5 span.price {
    color: #000;
    font-weight: bold;
    font-size: 24px;
}

h5 span.currency {
    color: #000;
    font-weight: 700;
    font-size: 14px;
}

h5 span.week {
    color: #434544;
    font-weight: 400;
    font-size: 14px;
    
}

div.img-of-item {
    height: 75%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    padding: 5px;
    
}

div.img-of-item img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    /* object-fit: cover; */
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px 10px 0 0;
}

.item-description {
    width: 100%;
    height: 25%;
    background-color: #ECF3F9;
    border-radius: 0 0 10px 10px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;

}

.for-you {

}

.phones {

}

.gaming {

}

.watches {

}

/* Big More Button */

.big-more-btn-box {
    width: 100%;
    margin: 0;

}

.big-more-btn {
    padding: 0;

}

.big-more-btn button {
    width: 100%;
    height: 32px;
    border: 1px solid var(--bs-body-color);
    border-radius: 3px;
    padding: 0;
    background-color: #fff;
    color: var(--bs-body-color);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.big-more-btn button:hover {
    background-color: #ecf3f9;
    color: #000;
    border-color: #000;
}

/* How it works */

.how-it-works-section {
    margin-top: 25px;
    height: 95vh;
}

.how-it-works {
    margin: 0px;
    height: 100%;
    border-radius: 50px;
    /* background-image: linear-gradient(180deg,#ed2724,#e0004e,#c2006f,#961186,#5c2d90); */
    background: linear-gradient(-90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);
}

.how-it-works-title {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    padding: 10px 35px 0;
    
}

.how{
    background-color: rgb(255, 255, 255);
    width: 32%;
    border-radius: 50px;
    height: 75%;
}

.more-details-link {
    padding: 0;
}

.more-details-btn {
    text-align: right;
    padding: 0;
    margin-right: 50px;

}

.more-details-btn button {
    padding: 13px 20px;
    border: none;
    border-radius: 50px;
    background-color: #FE1251;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;

}

.more-details-btn button:hover {
    color: #333;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 7px 15px, rgb(0 0 0 / 5%) 10px 10px 3px;

}

.more-details-btn button:focus {
    box-shadow: rgba(0, 0, 0, 0.13) 0px 7px 15px, rgb(0 0 0 / 5%) 1px 1px 3px;
}

.more-details-btn button:active {
    box-shadow: none;
}