section .item-description {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.item-description .ripple{
  border-radius: 50%;
  background-color: rgba(254, 18, 81, 0.7);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.4s linear;
}

@keyframes ripple{
  to{
    transform: scale(2.5);
    opacity: 0;
  }
}